h1{
    text-align: center;
}
/* .bg-red{
    background-color: red;
} */

.mx-auto{
    margin: auto;
    padding: 30px;
}

.flex{
 display: flex;
}

.flex-col{
flex-direction: column;
}

.items-centre{
    align-items: center;
}